/* FOOTER */
footer {
  background-color: black;
  color: white;
  padding: 2rem;
  text-align: center;
}
@media (max-width: 768px) {
  footer {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }
}
footer a {
  color: white;
}
footer h4 {
  font-weight: bold;
  font-size: 20px;
  color: #F9D2E7;
}

.whatsapp {
  position: fixed;
  right: 3rem;
  bottom: 1rem;
}
@media (max-width: 992px) {
  .whatsapp {
    right: 1rem;
  }
}
.whatsapp a img {
  transition: 0.5s;
  width: 45px;
  border-radius: 25px;
}
@media (max-width: 1140px) {
  .whatsapp a img {
    width: 35px;
  }
}
.whatsapp a img:hover {
  transform: scale(1.2);
}

.youtube, .contacto, .redessociales {
  align-self: center;
  text-align: center;
}

.youtube a img {
  width: 150px;
  position: relative;
}

.redessociales a img {
  width: 50px;
}

.instagram img {
  width: 50px;
}

.icono_instagram, .icono_facebook, .icono_youtube {
  font-size: 40px;
}
@media (max-width: 768px) {
  .icono_instagram, .icono_facebook, .icono_youtube {
    font-size: 25px;
  }
}

.fa-envelope {
  font-size: 30px;
}
@media (max-width: 768px) {
  .fa-envelope {
    font-size: 20px;
  }
}

.facebook {
  margin-right: 1rem;
}

/* HEADER */
.navbar-brand img {
  width: 50px;
}

.nav-item {
  transition: 0.5s;
}
.nav-item:hover {
  transform: scale(1.1);
}

.navbar {
  margin-left: -1.4rem;
  position: fixed;
  width: 105%;
  z-index: 5;
  top: 0;
  background-color: rgba(56, 7, 91, 0.93);
}
.navbar .collapse {
  justify-content: center;
}
.navbar .collapse .nav-link {
  color: white;
}
.navbar .collapse .nav-link:hover {
  color: #F9D2E7;
}

.nav-item {
  margin-left: 2rem;
  margin-right: 2rem;
}

.nav-link {
  text-decoration: none;
  font-weight: bold;
  justify-content: center;
  font-size: 1.2rem;
  color: white;
}
.nav-link:hover {
  color: #F9D2E7;
}

/* INDEX */
.aprendertarot:hover, .section-index-1-texto:hover, .publicidadindex:hover {
  animation: parrafo2 3s;
}

/* 
CAROUSEL */
.position-carousel {
  margin: 0 auto;
  margin-top: 5rem;
  width: 75%;
  margin-bottom: 5rem;
}

h5 {
  font-size: 25px;
  font-weight: bold;
}

.carousel-inner {
  background-color: #e1ccf1;
  border-radius: 40px;
}

.imagen-carousel {
  margin-top: 5rem;
}
@media (max-width: 768px) {
  .imagen-carousel {
    width: 160%;
    position: relative;
    right: 10rem;
  }
}

.imagen-carousel:nth-child(1) img {
  width: 70%;
  margin-left: 10rem;
}

.imagen-carousel:nth-child(2) img {
  width: 70%;
  margin-left: 9rem;
}

.imagen-carousel:nth-child(3) img {
  width: 70%;
  margin-left: 11rem;
}

.fondo-texto {
  background-color: #380762;
}

.fondo-texto p, .fondo-texto h5 {
  color: white;
}

.indicadores-carousel {
  margin-bottom: 5rem;
}
@media (max-width: 768px) {
  .indicadores-carousel button {
    position: relative;
    top: 9rem;
  }
}

.carousel-texto1 {
  position: relative;
  left: 13rem;
  bottom: 6rem;
  width: 60%;
}

.carousel-texto2 {
  position: relative;
  left: 10rem;
  bottom: 6rem;
  width: 70%;
}

.carousel-texto3 {
  position: relative;
  left: 11rem;
  bottom: 6rem;
  width: 70%;
}

/* SECTION2 */
.section-index-2 {
  width: 80%;
  margin: 0 auto;
  margin-top: 5rem;
  background-image: linear-gradient(to right, #9269A1 0%, #380762 100%);
  justify-content: center;
  padding-bottom: 4rem;
  border-radius: 20px;
  box-shadow: 6px 6px #2b0117;
}

.publicidadindex {
  border: 1px solid white;
  border-radius: 10px;
  margin: 2rem 2rem 0rem 4rem;
  color: white;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
}
@media (max-width: 768px) {
  .publicidadindex {
    margin: 4rem 2rem 0rem 2rem;
  }
}

.publicidadindex-texto {
  margin-top: 2rem;
}

.youtubepromocional {
  margin-top: 5rem;
}
@media (min-width: 1000px) {
  .youtubepromocional {
    margin-right: 4rem;
  }
}
.youtubepromocional iframe {
  width: 120%;
  height: 90%;
}
@media (max-width: 768px) {
  .youtubepromocional iframe {
    width: 100%;
    height: 120%;
  }
}

/* MAIN */
.index-main-title {
  background-image: linear-gradient(to right, #9269A1 0%, #380762 100%);
  width: 100%;
  border-radius: 10px;
  margin-bottom: 3rem;
}

.mainindex {
  margin: 0 auto;
  margin-top: 7rem;
  margin-bottom: 5rem;
  background-color: #e1ccf1;
  border-radius: 40px;
}
@media (max-width: 992px) {
  .mainindex {
    background-image: linear-gradient(to bottom, #0b0113 0%, #21053a 100%);
  }
}
@media (max-width: 768px) {
  .mainindex {
    margin-top: 3rem;
  }
}

.index-main-parrafo {
  border-radius: 2.8rem;
  padding: 2rem 4rem 4rem 4rem;
}
@media (max-width: 992px) {
  .index-main-parrafo {
    background-color: #380762;
    color: white;
  }
}
.index-main-parrafo:hover {
  background-color: #380762;
  transition: 3s;
}
.index-main-parrafo:hover h2, .index-main-parrafo:hover p {
  color: #F9D2E7;
}
@media (max-width: 767px) {
  .index-main-parrafo {
    margin: 0 auto;
    padding: 4rem 2rem;
    width: 85%;
  }
}
@media (max-width: 900px) {
  .index-main-parrafo {
    margin-top: 3rem;
  }
}
.index-main-parrafo h2 {
  text-align: center;
  color: #451c69;
  transition: 1s;
}
@media (max-width: 992px) {
  .index-main-parrafo h2 {
    color: white;
  }
}
.index-main-parrafo h2:hover {
  color: white;
}
.index-main-parrafo p {
  font-family: "Domine", serif;
  text-align: center;
  color: #451c69;
  transition: 1s;
  margin-left: 0;
}
@media (max-width: 992px) {
  .index-main-parrafo p {
    color: white;
  }
}
.index-main-parrafo p:hover {
  color: white;
}

.index-main-carousel-img2 {
  width: 120%;
}

/* BOTONES */
.navbar-toggler {
  margin-left: 2rem;
}

.close {
  background-color: #F9D2E7;
  color: #380762;
  width: 30px;
  border-radius: 15px;
  border: none;
}
.close:hover {
  background-color: #380762;
  color: #F9D2E7;
}

.btn-primary {
  background-color: #F9D2E7;
  color: #380762;
  border: 1px solid #F9D2E7;
  border-radius: 20px;
  width: 30%;
  transition: all 0.5s;
  margin: 1rem 1rem;
}
.btn-primary:focus {
  background-color: #380762;
  box-shadow: none;
  border: solid white 1px;
}
.btn-primary:hover {
  color: white;
  background-color: #380762;
  border: 1px solid #F9D2E7;
  transform: scale(1.1);
}

.btn-secondary {
  background-color: white;
  color: black;
  border: 1px solid #F9D2E7;
  border-radius: 20px;
  transition: all 0.5s;
}
.btn-secondary:hover {
  background-color: #380762;
  border: 1px solid #F9D2E7;
  transform: scale(1.1);
}

.index-boton1 {
  background-color: #380762;
  width: 8rem;
  height: 2rem;
  border-radius: 10px;
  transition: all 1s;
  color: white;
  box-shadow: 2px 2px #2b0117;
  text-align: center;
  margin: 0 auto;
  font-weight: bold;
  padding-top: 0.2rem;
}
@media (max-width: 992px) {
  .index-boton1 {
    background-color: white;
  }
}
.index-boton1:hover {
  color: #380762;
  background-color: white;
  box-shadow: 2px 2px #2b0117;
}
.index-boton1:hover a {
  color: #380762;
}
.index-boton1 a {
  color: white;
}
@media (max-width: 992px) {
  .index-boton1 a {
    color: #380762;
  }
}
.index-boton1 a:hover {
  color: #380762;
}

.index-boton2 {
  margin: auto;
  background-color: white;
  color: #380762;
  font-size: 16px;
  font-weight: bold;
  width: 100px;
  height: 30px;
  border-radius: 15px;
  transition: all 1s;
  margin-top: 3rem;
  margin-bottom: 4rem;
}
.index-boton2:hover {
  transform: scale(1.1);
  background-color: #380762;
  color: white;
}
.index-boton2:hover a {
  color: white;
}

.boton3 {
  border-radius: 20px;
  font-size: 16px;
  width: 140px;
  height: 40px;
  transition: 0.5s;
}
.boton3:hover {
  transform: scale(1.1);
  background-color: #380762;
  box-shadow: 2px 2px #F9D2E7;
  color: white;
}

/* NOSOTROS */
.main-nosotros {
  margin: 0 auto;
  margin-top: 7rem;
  width: 100%;
  background-color: #e1ccf1;
  padding: 1rem;
  border-radius: 30px;
}
@media (max-width: 860px) {
  .main-nosotros {
    margin-top: 3rem;
    width: 100%;
  }
}

.main-nosotros-titulo2 {
  background-color: #380762;
  color: white;
  border-radius: 15px;
  padding: 2rem 0;
}
@media (max-width: 992px) {
  .main-nosotros-titulo2 {
    border-radius: 10px;
  }
}

.sobrenosotros {
  margin: 0 auto;
  background-image: linear-gradient(to right, #9269A1 0%, #380762 100%);
  color: white;
  text-align: center;
  border-radius: 25px;
}
@media (max-width: 992px) {
  .sobrenosotros {
    border-radius: 10px;
    width: 80%;
  }
}

.integrantes {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  background-color: white;
  margin-top: 5rem;
  margin-bottom: 40rem;
  background-color: #e1ccf1;
}
@media (max-width: 992px) {
  .integrantes {
    flex-direction: column;
    align-items: center;
    margin-top: 0;
    margin-bottom: 2rem;
  }
}

.fotogrupo {
  width: 80%;
}
@media (max-width: 992px) {
  .fotogrupo {
    width: 60%;
  }
}

.carlacontainer, .matiascontainer, .mateocontainer {
  position: relative;
  width: 20%;
}
@media (max-width: 992px) {
  .carlacontainer, .matiascontainer, .mateocontainer {
    bottom: 25rem;
    width: 60%;
  }
}
@media (max-width: 766px) {
  .carlacontainer, .matiascontainer, .mateocontainer {
    width: 60%;
    width: 80%;
  }
}

.carla, .mateo {
  width: 100%;
  height: 400px;
  position: absolute;
  transform-style: preserve-3d;
  transition: all 0.6s ease;
}
.carla:hover, .mateo:hover {
  transform: rotateY(180deg);
}
@media (max-width: 992px) {
  .carla:hover, .mateo:hover {
    transform: none;
  }
}
@media (max-width: 992px) {
  .carla, .mateo {
    position: relative;
    margin-top: 5rem;
  }
}
@media (max-width: 766px) {
  .carla, .mateo {
    position: relative;
    margin-top: 0rem;
  }
}

.matias {
  width: 100%;
  height: 400px;
  position: absolute;
  transform-style: preserve-3d;
  transition: all 0.6s ease;
}
.matias:hover {
  transform: rotateY(180deg);
}
@media (max-width: 992px) {
  .matias:hover {
    transform: none;
  }
}
@media (max-width: 992px) {
  .matias {
    position: relative;
    margin-top: 2rem;
  }
}

.mateofront, .carlafront, .matiasfront {
  position: absolute;
  width: 100%;
  backface-visibility: hidden;
}
.mateofront img, .carlafront img, .matiasfront img {
  width: 100%;
  height: 420px;
  border-radius: 20px;
}
@media (max-width: 992px) {
  .mateofront, .carlafront, .matiasfront {
    transform: none;
    position: relative;
    width: 0%;
  }
}

.mateoback, .carlaback, .matiasback {
  position: absolute;
  width: 100%;
  height: 420px;
  backface-visibility: hidden;
  transform: rotateY(180deg);
  background-image: linear-gradient(to right, #380762 0%, #4c256e 100%);
  color: white;
  text-align: center;
  border-radius: 20px;
}
.mateoback h3, .carlaback h3, .matiasback h3 {
  padding: 1rem 0;
  font-size: 20px;
}
@media (max-width: 766px) {
  .mateoback, .carlaback, .matiasback {
    position: relative;
    transform: none;
    height: 85%;
  }
}
@media (max-width: 992px) {
  .mateoback, .carlaback, .matiasback {
    position: relative;
    transform: none;
  }
}
.mateoback p, .carlaback p, .matiasback p {
  font-size: 16px;
}

.carlaback {
  padding-bottom: 6rem;
}

.matiasback {
  padding-bottom: 3rem;
}

.mateoback {
  padding-bottom: 5rem;
}

.historiagrupo {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 5rem;
}
@media (max-width: 768px) {
  .historiagrupo {
    margin-top: 4rem;
  }
}

.textohistoria {
  width: 80%;
  border-radius: 20px;
  box-shadow: 6px 6px #2b0117;
  background-image: linear-gradient(to right, #380762 0%, #9269A1 100%);
  color: white;
  padding: 15px;
  text-align: center;
}
@media (min-width: 768px) {
  .textohistoria {
    width: 80%;
  }
}
@media (min-width: 768px) and (min-width: 1140px) {
  .textohistoria {
    width: 50%;
  }
}

.imagenespectaculo img {
  margin: 0 auto;
  border-radius: 20px;
}
@media (max-width: 1140px) {
  .imagenespectaculo img {
    margin-left: 2.5rem;
    margin-top: 3rem;
    width: 90%;
  }
}
@media (max-width: 760px) {
  .imagenespectaculo img {
    margin-top: 3rem;
    width: 85%;
  }
}
@media (min-width: 1140px) {
  .imagenespectaculo img {
    width: 100%;
  }
}

.instagram {
  margin-bottom: 5rem;
}

/* CURSOS */
.cursos-main-title {
  background-image: linear-gradient(to right, #9269A1 0%, #380762 100%);
  width: 100%;
  border-radius: 10px;
  position: relative;
  bottom: 6rem;
}
@media (max-width: 1140px) {
  .cursos-main-title {
    bottom: 0rem;
  }
}

.cursos-main-parrafo {
  border-radius: 3rem;
  z-index: 2;
  padding: 8rem 2rem 3rem 2rem;
  text-align: center;
}
@media (max-width: 1140px) {
  .cursos-main-parrafo {
    padding-top: 2rem;
    background-color: #380762;
  }
}
@media (max-width: 767px) {
  .cursos-main-parrafo {
    width: 85%;
    margin-left: 2rem;
  }
}
.cursos-main-parrafo:hover {
  background-color: #380762;
  transition: 3s;
}
.cursos-main-parrafo:hover a {
  color: white;
}
.cursos-main-parrafo:hover a:hover {
  color: #F9D2E7;
}

.cursos-main-imagen img {
  width: 100%;
  transition: all 1s;
}
@media (min-width: 768px) {
  .cursos-main-imagen img {
    margin-left: 5rem;
  }
}
@media (min-width: 992px) {
  .cursos-main-imagen img {
    margin-left: 0;
  }
}
@media (max-width: 1140px) {
  .cursos-main-imagen img {
    animation: imagencursos 3s;
  }
}

@media (max-width: 992px) {
  .propuestames {
    padding-top: 2rem;
  }
}
.propuestames a {
  color: #380762;
}
@media (max-width: 1140px) {
  .propuestames a {
    color: white;
  }
}
.propuestames a:hover {
  color: white;
}

.propuestasdelmes {
  margin-top: 10rem;
  margin-bottom: 5rem;
  position: relative;
  text-align: center;
  background-color: #e1ccf1;
  border-radius: 30px;
  padding-top: 1rem;
  padding-bottom: 3rem;
}
@media (max-width: 1140px) {
  .propuestasdelmes {
    width: 80%;
    margin-top: 5rem;
  }
}

.propuestasdelmes-titulo {
  background-image: linear-gradient(to right, #9269A1 0%, #380762 100%);
  color: white;
  width: 100%;
  padding: 2rem;
  border-radius: 10px;
  margin: 0 auto;
}
.propuestasdelmes-titulo h2 {
  text-transform: uppercase;
}

.propuesta1, .propuesta2 {
  position: relative;
  justify-content: center;
  margin: 5rem 3rem;
  border-radius: 30px;
  background-image: linear-gradient(to right, #380762 0%, #9269A1 100%);
  color: white;
  padding: 15px;
  text-align: center;
}
@media (max-width: 1140px) {
  .propuesta1, .propuesta2 {
    margin: 0 auto;
    margin: 5rem 0;
    padding-bottom: 5rem;
  }
}

.textopropuesta1, .textopropuesta2 {
  width: 30rem;
  border-radius: 10px;
  margin-top: 3rem;
  text-align: center;
}
.textopropuesta1 ul, .textopropuesta2 ul {
  margin-right: 2rem;
}
.textopropuesta1 h3, .textopropuesta2 h3 {
  text-transform: uppercase;
}

.imagenpropuesta1 img, .imagenpropuesta2 img {
  width: 100%;
  border-radius: 20px;
  margin-top: 3rem;
}
@media (min-width: 1140px) {
  .imagenpropuesta1 img, .imagenpropuesta2 img {
    margin-top: 0;
    position: relative;
    width: 80%;
    right: 1rem;
  }
}

.propuesta1-boton1, .propuesta2-boton1 {
  position: relative;
  margin: auto;
  background-color: white;
  width: 100px;
  height: 30px;
  border-radius: 15px;
  transition: all 1s;
  color: #380762;
}

.propuesta1-boton1 a, .propuesta2-boton1 a {
  position: relative;
  color: #451c69;
}

.propuesta1-boton1:hover, .propuesta2-boton1:hover {
  transform: scale(1.2);
}

.modal-body {
  color: black;
}

/* CONTACTO */
.label {
  margin-top: 2rem;
}

.contacto-main-title {
  background-image: linear-gradient(to right, #9269A1 0%, #380762 100%);
  width: 100%;
  border-radius: 10px;
  margin: 0 auto;
}

.contacto-main-pregunta {
  padding: 3rem;
  color: white;
}
@media (max-width: 992px) {
  .contacto-main-pregunta {
    color: white;
  }
}

.maincontacto {
  margin-top: 7rem;
  margin-bottom: 5rem;
  padding-bottom: 2rem;
  text-align: center;
  border-radius: 30px;
  background-image: linear-gradient(to bottom, #0b0113 0%, #21053a 100%);
}
@media (max-width: 992px) {
  .maincontacto {
    background-image: linear-gradient(to bottom, #0b0113 0%, #21053a 100%);
    margin-top: 3rem;
  }
}

.formulario {
  border-radius: 30px;
  text-align: center;
  background-color: #e1ccf1;
}
@media (max-width: 992px) {
  .formulario {
    margin: 0;
  }
}

.formulario-texto {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}
.formulario-texto textarea {
  resize: none;
}

.input-texto {
  width: 100%;
}

.formulario-contacto {
  margin: 0 auto;
  margin-bottom: 2rem;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(to right, #9269A1 0%, #380762 100%);
  color: white;
  border-radius: 20px;
  box-shadow: 6px 6px #2b0117;
}
@media (min-width: 768px) {
  .formulario-contacto {
    width: 100%;
  }
}
@media (min-width: 1140px) {
  .formulario-contacto {
    width: 50%;
    margin-left: 5rem;
  }
}
@media (max-width: 1140px) {
  .formulario-contacto {
    margin-top: 2rem;
  }
}

.formulario-imagen {
  flex-direction: column;
  margin-top: 4rem;
}
.formulario-imagen img {
  width: 100%;
  border-radius: 30px;
}
@media (min-width: 992px) {
  .formulario-imagen img {
    width: 900px;
  }
}
@media (min-width: 1140px) {
  .formulario-imagen img {
    width: 120%;
  }
}

/* SESIONES */
.texto-main-sesiones {
  border: 2px solid black;
  border-radius: 15px;
}

.sesiones-main-title {
  background-image: linear-gradient(to right, #9269A1 0%, #380762 100%);
  width: 100%;
  border-radius: 10px;
  position: relative;
  bottom: 2rem;
}
.sesiones-main-title h1 {
  font-size: 30px;
}

.main-sesiones,
.modalidadlectura {
  display: flex;
  justify-content: center;
}

.main-sesiones {
  background-color: #e1ccf1;
  padding-top: 5rem;
  padding-bottom: 3rem;
  border-radius: 30px;
  margin: 0 auto;
  margin-top: 7rem;
}
@media (max-width: 768px) {
  .main-sesiones {
    margin-top: 4rem;
    margin-bottom: 2rem;
  }
}
.main-sesiones div img {
  margin-top: 3rem;
  width: 100%;
}
@media (min-width: 1140px) {
  .main-sesiones div img {
    width: 120%;
  }
}

.parrafo-main-sesiones {
  background-image: linear-gradient(to right, #380762 0%, #4c256e 100%);
  color: white;
  border-radius: 15px;
  text-align: center;
}
.parrafo-main-sesiones h2 {
  padding-top: 1rem;
  font-weight: bold;
  font-size: 22px;
}

.sesiones p {
  font-size: 18px;
}
@media (max-width: 768px) {
  .sesiones p {
    font-size: 16px;
  }
}

.modalidadlectura {
  margin: 0 auto;
  margin-top: 5rem;
  margin-bottom: 5rem;
  background-color: #e1ccf1;
  border-radius: 30px;
}
@media (max-width: 1140px) {
  .modalidadlectura {
    margin-top: 0rem;
    background-image: linear-gradient(to bottom, #0b0113 0%, #21053a 100%);
  }
}

.modalidadlectura1,
.modalidadlectura2 {
  background-image: linear-gradient(to right, #380762 0%, #9269A1 100%);
  color: white;
  padding: 15px;
  position: relative;
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
  border-radius: 20px;
  border: 4px solid black;
}
.modalidadlectura1 ul,
.modalidadlectura2 ul {
  padding-right: 2rem;
}

.modalidadlectura2-boton1,
.modalidadlectura1-boton1 {
  margin: auto;
  background-color: white;
  width: 9rem;
  height: 2.3rem;
  border-radius: 15px;
  transition: all 1s;
  color: #380762;
  box-shadow: 2px 2px #2b0117;
}

.modalidadlectura2-boton1 a,
.modalidadlectura1-boton1 a {
  color: #451c69;
  position: relative;
  top: 0.3rem;
  font-weight: bold;
}

.modalidadlectura1-boton1:hover,
.modalidadlectura2-boton1:hover {
  transform: scale(1.1);
  background-color: #380762;
  box-shadow: 2px 2px #F9D2E7;
}
.modalidadlectura1-boton1:hover a,
.modalidadlectura2-boton1:hover a {
  color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to bottom, #0b0113 0%, #21053a 100%);
  text-align: left;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}
@media (max-width: 1000px) {
  body {
    background-image: none;
    background-image: linear-gradient(to bottom, #0b0113 0%, #21053a 100%);
  }
}

button {
  font-size: 20px;
}

/* ESTILOS GENERALES */
p {
  font-size: 18px;
}
@media (max-width: 766px) {
  p {
    font-size: 16px;
  }
}

a {
  text-decoration: none;
  color: white;
}
a:hover {
  color: rosybrown;
}

h1 {
  font-size: 2.5rem;
  font-family: "Domine", serif;
  color: white;
  text-align: center;
}
@media (max-width: 766px) {
  h1 {
    font-size: 2rem;
  }
}

h2 {
  font-size: 25px;
  text-align: center;
  font-family: "Domine", serif;
}
@media (max-width: 766px) {
  h2 {
    font-size: 20px;
  }
}

h3 {
  font-family: "Domine", serif;
  font-size: 20px;
}
@media (min-width: 768px) {
  h3 {
    font-size: 25px;
  }
}

ul {
  list-style-type: none;
}

header,
p,
h1,
.youtubepromocional,
.modalidadlectura {
  padding: 15px;
}
@media (max-width: 992px) {
  header,
p,
h1,
.youtubepromocional,
.modalidadlectura {
    padding: 10px;
  }
}

.formularioinscripcion, .modal-content {
  border: 1px solid white;
  border-radius: 10px;
  margin: 2rem 2rem 0rem 4rem;
  color: white;
  text-align: center;
  background-color: #230B35;
}
@media (max-width: 768px) {
  .formularioinscripcion, .modal-content {
    margin: 2rem 2rem 0rem 2rem;
  }
}

.modal-body {
  color: white;
}

.form-group label {
  color: white;
}

.form-control {
  background-color: #e1ccf1;
}
.form-control:focus {
  background-color: #F9D2E7;
  box-shadow: none;
  border: solid 2px #380762;
}

/*# sourceMappingURL=style.css.map */
