$violeta-1:#380762;
$violeta-2: #F9D2E7;
$violeta-3: #2b0117;
$colorfondo: rgb(223, 223, 223);
$colorseccion: #e1ccf1;
$degrade-1: linear-gradient(to right, #9269A1 0%, #380762 100%);
$degrade-2: linear-gradient(to right,  #380762 0%, #9269A1 100%);
$degrade-3: linear-gradient(to right,  #380762 0%, #4c256e 100%);
$degrade-4: linear-gradient(to bottom,  #0b0113 0%, #21053a 100%);