/* BOTONES */

@import "../variables/color.scss";

.index-boton1,
.index-boton2 {
    margin: auto;
    background-color: white;
    width: 100px;
    height: 30px;
    border-radius: 15px;
    transition: all 1s;
    color: $violeta-1;
    margin-top: 3rem;
}

.index-boton1:hover,
.index-boton2:hover,
.index-boton3:hover,
.index-boton4:hover,
.index-boton5:hover {
    transform: scale(1.1);
    background-color: #380762;
    box-shadow: 2px 2px #F9D2E7;
}


.index-boton3,
.index-boton4 {
    margin: auto;
    background-color: $violeta-1;
    width: 100px;
    height: 30px;
    border-radius: 15px;
    transition: all 1s;
    margin-top: 3rem;
    margin-bottom: 4rem;
}

.index-boton5 {
    margin-top: 5rem;
    background-color: white;
    width: 8rem;
    height: 2rem;
    border-radius: 10px;
    transition: all 1s;
    color: $violeta-1;
    box-shadow: 2px 2px $violeta-3;
    text-align: center;
    margin: 0 auto;
    position: relative;
    top: 3rem;
    font-weight: bold;
    padding-top: 0.2rem;
 &:hover {
            color: white;
            background-color: $violeta-1;
            a {
                color: white;
            }
         }

 a {
             color: #380762;
           
            &:hover {
                color: white;
             
             }
         }
}

// .index-boton5 a {
//     position: relative;
//     left: 10px;
//     color: $violeta-1;
//     text-decoration: none;
// }

.index-boton1 a {
    text-decoration: none;
    color: $violeta-1;
}

.index-boton2 a {
    position: relative;
    left: 20px;
    text-decoration: none;
    color: $violeta-1;
}

.index-boton3 a,
.index-boton4 a {
    transition: all 1s;
    text-decoration: none;
    color: white;

}

.index-boton1 a:hover,
.index-boton2 a:hover,
.index-boton3 a:hover,
.index-boton4 a:hover {
    color: white;
}

.contacto-boton1 {
    margin: auto;
    background-color: white;
    width: 100px;
    height: 30px;
    border-radius: 15px;
    transition: all 1s;
    color: $violeta-1;
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 15px;
    box-shadow: 2px 2px $violeta-3;
    &:hover {
        transform: scale(1.1);
    background-color: #380762;
    box-shadow: 2px 2px #F9D2E7;
    color: white;
    }
}