/* CONTACTO */

@import "../variables/color.scss";

.label {
    margin-top: 2rem;
}

// MAIN CONTACTO

.contacto-main-title {
    background-image: $degrade-1;
    width: 100%;
    border-radius: 10px;
    margin: 0 auto;

}

.contacto-main-pregunta {
   padding: 3rem;
   color: white;
   @media (max-width:992px) {
    color: white;
}
 }

.maincontacto {
    margin-top: 7rem;
    margin-bottom: 5rem;
    padding-bottom: 2rem;
    text-align: center;
    border-radius: 30px;
    background-image: $degrade-4;

    @media (max-width:992px) {
        background-image: $degrade-4;
        margin-top: 3rem;
    }
   
}

//ZONA DEL FORMULARIO

.formulario {
       border-radius: 30px;
    text-align: center;
   background-color: $colorseccion;
    @media (max-width:992px) {
        margin: 0;
    }
}

.formulario-texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    textarea {
        resize: none;
    }
    
}

.input-texto {
    width: 100%;
}

.formulario-contacto {
    margin: 0 auto;
    margin-bottom: 2rem;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: $degrade-1;
    color: white;
    border-radius: 20px;
    box-shadow: 6px 6px $violeta-3;

    @media (min-width: 768px) {
        width: 100%;
    }

    @media (min-width: 1140px) {
        width: 50%;
        margin-left: 5rem;
    }
     @media (max-width:1140px) {
        margin-top: 2rem;
 }
}

.formulario-imagen {
    flex-direction: column;
    margin-top: 4rem;

    img {
        width: 100%;
        border-radius: 30px;

        @media (min-width: 992px) {
            width: 900px;
        }

        @media (min-width: 1140px) {
            width: 120%;
        }
    }
}