/* CURSOS */

@import "../variables/color.scss";

// TITULO MAIN CURSOS
.cursos-main-title {
    background-image: $degrade-1;
   width: 100%;
   border-radius: 10px;
   position: relative;
   bottom: 6rem;
   @media (max-width:1140px) {
    bottom: 0rem;

}
}
// TEXTO MAIN CURSOS
.cursos-main-parrafo {
    border-radius: 3rem;
    z-index: 2;
    padding: 8rem 2rem 3rem 2rem;
    text-align: center;
    @media (max-width:1140px) {
        padding-top: 2rem;
        background-color: #380762;
    }

    @media (max-width:767px) {
        width: 85%;
        margin-left: 2rem;
    }
     &:hover {
            background-color: #380762;
            transition: 3s;
            a {
            color: white;
            &:hover {
                color: $violeta-2;
            }
        }
         }
        
     }

     // IMAGEN MAIN CURSOS
.cursos-main-imagen img {
    width: 100%;
    transition: all 1s;
    @media (min-width:768px) {
        margin-left: 5rem;
    }
    @media (min-width:992px) {
        margin-left: 0;
    }

    @media (max-width:1140px) {
    animation: imagencursos 3s;
}

}

// SECCION PROPUESTAS DEL MES

.propuestames {
    @media (max-width:992px) {
    padding-top: 2rem;
}
    a {
        color: #380762;
        @media (max-width:1140px) {
            color:white;
        }
    
      &:hover {
          color: white;
      }
    }
}
.propuestasdelmes {
    margin-top: 10rem;
    margin-bottom: 5rem;
    position: relative;
    text-align: center;
    background-color: #e1ccf1;
    border-radius: 30px;
    padding-top:1rem;
    padding-bottom: 3rem;
    @media (max-width:1140px) {
        width: 80%;
        margin-top: 5rem;
    }
}

.propuestasdelmes-titulo {
    background-image: $degrade-1;
color: white;
width: 100%;
padding: 2rem;
border-radius: 10px;
margin: 0 auto;
    h2 {
        text-transform: uppercase;
    }

}

.propuesta1, .propuesta2 {
    position: relative;
    justify-content: center;
    margin: 5rem 3rem;
    border-radius: 30px;
        background-image: $degrade-2;
        color: white;
        padding: 15px;
        text-align: center;
    
    
    @media (max-width:1140px) {
       margin: 0 auto;
       margin: 5rem 0;
       padding-bottom: 5rem;
    }
    
}

.textopropuesta1, .textopropuesta2 {
    width: 30rem;
    border-radius: 10px;
    margin-top: 3rem;
    text-align: center;
    ul {
        margin-right: 2rem;
    }
    h3 {
        text-transform: uppercase;
    }

}

.imagenpropuesta1 img, .imagenpropuesta2 img{
    width: 100%;
    border-radius: 20px;
    margin-top: 3rem;
    @media (min-width:1140px) {
        margin-top: 0;
        position: relative;
        width: 80%;
    right: 1rem;}
    }
    


.propuesta1-boton1, .propuesta2-boton1 {

    position: relative;

    margin: auto;
    background-color: white;
    width: 100px;
    height: 30px;
    border-radius: 15px;
    transition: all 1s;
    color: #380762;

}

.propuesta1-boton1 a, .propuesta2-boton1 a {
    position: relative;
    
    color: #451c69;
}

.propuesta1-boton1:hover, .propuesta2-boton1:hover {
    transform: scale(1.2);
}

.modal-body {
    color: black;
    
}
