/* FOOTER */
@import "../variables/color.scss";

footer {
    background-color: black;
    color: white;
    padding: 2rem;
    text-align: center;
    @media (max-width:768px) {
         font-size: 16px;
        display: flex;
       flex-direction: column;
        align-items: center;
        margin: 0 auto;
     
    }
    a {
        color: white;
    }
    h4 {
        font-weight: bold;
        font-size: 20px;
        color: $violeta-2;
       
    }
}
.whatsapp {
    position: fixed;
    right: 3rem;
    bottom: 1rem;
    @media (max-width:992px) {
        right: 1rem;
    }

    a img {
        transition: 0.5s;
        width: 45px;
        border-radius: 25px;
        @media (max-width:1140px) {
            width: 35px;
        }
        &:hover {
            transform: scale(1.2);
        }
    }
    
}

.youtube, .contacto, .redessociales {
    align-self: center;
    text-align: center;
}

.youtube a img {
    width: 150px;
    
    position: relative;
}

.redessociales a img {
    width: 50px;
}

.instagram img{
    width: 50px;
}

.icono_instagram, .icono_facebook, .icono_youtube  {
  font-size: 40px;
  @media (max-width:768px) {
      font-size: 25px;
  }
}

.fa-envelope {
    font-size: 30px;
    @media (max-width:768px) {
        font-size: 20px;
    }
}
.facebook {
    margin-right: 1rem;
}