@import "../variables/color.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-image: $degrade-4;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    ;
    overflow-x: hidden;

    @media (max-width:1000px) {
        background-image: none;
        background-color: $colorseccion;
    }
}

button {
    font-size: 20px;
}

/* ESTILOS GENERALES */

p {
    font-size: 18px;
    @media (max-width: 768px) {
        font-size: 16px;
    }
}

a {
    text-decoration: none;
    color: white;

    &:hover {
        color: rosybrown;
    }
}


h1 {
    font-size: 2.5rem;
    font-family: 'Domine', serif;
    color: white;
    text-align: center;
    @media (max-width: 768px) {
        font-size: 1.5rem;
    } 

}

h2 {
    font-size: 22px;
    text-align: center;
    font-family: 'Domine', serif;
    @media (min-width:768px) {
        font-size: 30px;
    }
    
}

h3 {
    font-family: 'Domine', serif;
    font-size: 20px;
    @media (min-width:768px) {
        font-size: 25px;
    }
}

ul {
    list-style-type: none;
}

header,
p,
h1,
h2,
h3,
.youtubepromocional,
.modalidadlectura {
    padding: 15px;
}

.modalidadlectura1,
.modalidadlectura2,
.textohistoria
// .textopropuesta1,
// .textopropuesta2 
{
    background-image: $degrade-2;
    color: white;
    padding: 15px;
    position: relative;
    text-align: center;

}
