/* HEADER */

@import "../variables/color.scss";

// CLASES DE BOOTSTRAP

.navbar-brand {
    img {
        width: 50px;
    }

}
.nav-item {
    transition: 0.5s;
    &:hover {
        transform: scale(1.1);
    }
}
.navbar {
    margin-left: -1.4rem;
    position: fixed;
    width: 105%;
    z-index: 5;
    top: 0;
    background-color: rgba(56, 7, 91, 0.93);
    .collapse {
    justify-content: center;
 
    .nav-link {
        color: white;
        &:hover {
            color: $violeta-2;
        }
    }
}
    }

.nav-item {
    margin-left: 2rem;
    margin-right: 2rem;
}

.nav-link {
    text-decoration: none;
    font-weight: bold;
    justify-content: center;
    font-size: 1.2rem;
    color: white;

    &:hover {
        color: #F9D2E7;

    }
}

