/* INDEX */

@import "../variables/color.scss";
@import "../variables/medidas.scss";



.aprendertarot:hover, .section-index-1-texto:hover, .publicidadindex:hover {
animation: parrafo2 3s;
}


/* 
CAROUSEL */

.position-carousel {
    margin: 0 auto;
    position: relative;
    top: 10rem;
    width: 85%;
    margin-bottom: 15rem;
    background-color: #e1ccf1;
    border-radius: 40px;
    

    @media (max-width:780px) {
        margin-bottom: 20rem;
    }
}
h5 {
    font-size: 25px;
    font-weight: bold;
}
.imagen-carousel:nth-child(1) img {
    // width: 55rem;
    width: $ancho - 20;
    position: relative;
    left: 8rem;
}
.imagen-carousel {
    margin-top: 5rem;
}
.imagen-carousel:nth-child(2) img{
    // width: 40rem;
    width: $ancho - 40;
    position: relative;
    left: 15rem;
}
.imagen-carousel:nth-child(3) img {
     width: $ancho - 30;
    
    position: relative;
    left: 11rem;
}

.fondo-texto {
    background-color: #380762;
}
.fondo-texto p, .fondo-texto h5 {
    color: white;
}

.indicadores-carousel {
    margin-bottom: 5rem;
}
.carousel-texto1 {
    position: relative;
    left: 13rem;
    bottom: 6rem;
    width: 60%;
}
.carousel-texto2 {
    position: relative;
    left: 15rem;
    bottom: 6rem;
    width: 60%;
}
.carousel-texto3 {
    position: relative;
    left: 11rem;
    bottom: 6rem;
    width: 70%;
}

/* SECTION2 */

.section-index-2 {
    background-color: #380762;
    justify-content: center;
    padding-bottom: 4rem;
    border-radius: 20px;
    box-shadow: 6px 6px $violeta-3;

    @media (min-width: 1140px) {
        width: 80%;
        margin: 0 auto;
    }
}

.publicidadindex {
    border: 1px solid white;
    border-radius: 10px;
    margin: 2rem 2rem 0rem 4rem;
    color: white;
    text-align: center;
    background-color: rgba(0,0,0,0.5);
    @media (max-width:768px) {
        margin: 2rem 2rem 0rem 2rem;
    }
    
}

.youtubepromocional {
    margin-top: 5rem;
    margin-right: 4rem;
    iframe {
        width: 120%;
        height: 90%;
    }
}

