@import "../variables/color.scss";

/* MAIN */

.index-main-title {
    background-image: $degrade-1;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 3rem;
   
    }

.mainindex {
    margin: 0 auto;
    margin-top:7rem;
    margin-bottom: 5rem;
    background-color: #e1ccf1;
    border-radius: 40px;
    @media (max-width:992px) {
        background-image: $degrade-4;
    }
    @media (max-width:768px) {
        margin-top: 3rem;
    }
}

.index-main-parrafo {
    border-radius: 2.8rem;
    padding: 2rem 4rem 4rem 4rem;
    @media (max-width:992px) {
        background-color: $violeta-1;
        color: white;
    }
    &:hover {
        background-color: #380762;
        transition: 3s;
        h2, p {
            color: $violeta-2;
        }
    }

    @media (max-width:767px) {
        margin: 0 auto;
        padding: 4rem 2rem;
        width: 85%;
    }

    @media (max-width:900px) {
        margin-top: 3rem;
    }

    h2 {
        @media (max-width:992px) {
            color: white;
        }
        text-align: center;
        color: #451c69;
        transition: 1s;
        &:hover {
            color: white;
        }

    }
    p {
        @media (max-width:992px) {
            color: white;
        }
        font-family: 'Domine', serif;
        // font-size: 1.3rem;
        text-align: center;
        color: #451c69;
        transition: 1s;
        margin-left: 0;
        &:hover {
            color: white;
        }

    }
}


.index-main-carousel-img2 {
    width: 120%;
}
