/* NOSOTROS */

@import "../variables/color.scss";

.main-nosotros {
    margin: 0 auto;
    margin-top: 7rem;
    width: 100%;
    background-color: $colorseccion;
    padding: 1rem;
    border-radius: 30px;
    @media (max-width:860px) {
        margin-top: 3rem;
        width: 100%;

    }

}

.main-nosotros-titulo2 {
    background-color: #380762;
    color: white;
    border-radius: 15px;
    padding: 2rem 0;
    @media (max-width:992px) {
        border-radius: 10px;
        
    }

}

.sobrenosotros {
    margin: 0 auto;
    background-image: linear-gradient(to right, #9269A1 0%, #380762 100%);
    color: white;
    text-align: center;
    border-radius: 25px;
    @media (max-width:992px) {
        border-radius: 10px;
        width: 80%;
    }

}

.integrantes {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    margin-top: 5rem;
    margin-bottom: 40rem;
    background-color: $colorseccion;
    @media (max-width:992px) {
        flex-direction: column;
        align-items: center;
        margin-top: 0;
        margin-bottom: 2rem;
    }
    
}

.fotogrupo {
    width: 80%;
    @media (max-width:992px) {
        width: 60%;
    }
 }

.carlacontainer, .matiascontainer, .mateocontainer {
    position: relative;
    width: 20%;
    @media (max-width:992px) {
        bottom: 25rem;
        width: 60%;
        // height: 500px;
    }
    @media (max-width:766px){
        width: 60%;
        width: 80%;
    }
 }


.carla,.mateo {
     width: 100%;
     height: 400px;
     position: absolute;
     transform-style: preserve-3d;
     transition: all 0.6s ease;
     &:hover {
        transform:rotateY(180deg);
        @media (max-width:992px) {
            transform: none;
        }
     }
     @media (max-width:992px) {
        position: relative;
        margin-top: 5rem;
    }
     @media (max-width:766px) {
         position: relative;
         margin-top: 0rem;
            }
     

}
.matias {
    width: 100%;
    height: 400px;
    position: absolute;
    transform-style: preserve-3d;
    transition: all 0.6s ease;
    &:hover {
       transform:rotateY(180deg);
       @media (max-width:992px) {
           transform: none;
       }
    }
    @media (max-width:992px) {
        position: relative;
        margin-top: 2rem;
    }

}

.mateofront, .carlafront, .matiasfront {
        position: absolute;
    width: 100%;
    backface-visibility: hidden;
    img {
        width: 100%;
        height: 420px;
        border-radius: 20px;
    }
    @media (max-width:992px) {
        transform: none;
        position: relative;
        width: 0%;
            }
    
}

.mateoback, .carlaback, .matiasback {
    h3 {
        padding: 1rem 0;
        font-size: 20px;
    }
    position: absolute;
    width: 100%;
    height: 420px;
    backface-visibility: hidden;
    transform:rotateY(180deg);
    background-image: $degrade-3;
    color: white;
    text-align: center;
    border-radius: 20px;
    @media (max-width:766px) {
        position: relative;
        transform: none;
        height: 85%;
            }
    @media (max-width:992px) {
        position: relative;
        transform: none;
        
    }
    p {
        font-size: 16px;
    }

}

.carlaback {
    padding-bottom: 6rem;
}
.matiasback {
    padding-bottom: 3rem;
}

.mateoback {
    padding-bottom: 5rem;
}


// SECCION HISTORIA DEL GRUPO

.historiagrupo {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 5rem;
    @media (max-width:768px) {
        margin-top: 4rem;
    }

}

.textohistoria {
    width: 80%;
    border-radius: 20px;
    box-shadow: 6px 6px $violeta-3;
    background-image: $degrade-2;
    color: white;
    padding: 15px;
        text-align: center;
    @media (min-width:768px) {
        width: 80%;

        @media (min-width:1140px) {
            width: 50%;
        }
    }

}

.imagenespectaculo img {
    margin: 0 auto;
    border-radius: 20px;


    @media (max-width:1140px) {
        margin-left: 2.5rem;
        margin-top: 3rem;
        width: 90%;
    }

     @media (max-width:760px) {
        margin-top: 3rem;
        width: 85%;
    }




    @media (min-width:1140px) {
     width: 100%;
     }

}

.instagram {
    margin-bottom: 5rem;
}